{
  "swagger": "2.0",
  "info": {
    "title": "Library API",
    "description": "A simple library management API using Swagger 2.0",
    "version": "1.0.0",
    "contact": {
      "name": "Library Support",
      "email": "support@library.io"
    }
  },
  "host": "api.library.io",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/books": {
      "get": {
        "summary": "List all books",
        "description": "Retrieve a list of all books in the library",
        "operationId": "listBooks",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of books to return",
            "required": false,
            "type": "integer",
            "default": 25
          },
          {
            "name": "author",
            "in": "query",
            "description": "Filter by author name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of books",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Book"
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Add a new book",
        "description": "Add a new book to the library collection",
        "operationId": "createBook",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Book object to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewBook"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Book created successfully",
            "schema": {
              "$ref": "#/definitions/Book"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/books/{bookId}": {
      "get": {
        "summary": "Get book by ID",
        "description": "Retrieve a specific book by its ID",
        "operationId": "getBookById",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "bookId",
            "in": "path",
            "description": "ID of the book to retrieve",
            "required": true,
            "type": "string",
            "default": "book-001"
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "API key for authentication",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Book found",
            "schema": {
              "$ref": "#/definitions/Book"
            }
          },
          "404": {
            "description": "Book not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a book",
        "description": "Remove a book from the library",
        "operationId": "deleteBook",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "bookId",
            "in": "path",
            "description": "ID of the book to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Book deleted successfully"
          },
          "404": {
            "description": "Book not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Book": {
      "type": "object",
      "required": [
        "id",
        "title",
        "author"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "author": {
          "type": "string"
        },
        "isbn": {
          "type": "string"
        },
        "publishedYear": {
          "type": "integer"
        }
      }
    },
    "NewBook": {
      "type": "object",
      "required": [
        "title",
        "author"
      ],
      "properties": {
        "title": {
          "type": "string",
          "example": "The Great Gatsby"
        },
        "author": {
          "type": "string",
          "example": "F. Scott Fitzgerald"
        },
        "isbn": {
          "type": "string",
          "example": "978-0-7432-7356-5"
        },
        "publishedYear": {
          "type": "integer",
          "example": 1925
        }
      }
    }
  }
}
